.DS_Store
nltk_data
Public
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
.Trash
.boto
.CFUserTextEncoding
.cache
.cargo
.config
.czrc
.docker/
.fig.dotfiles.bak/
.fzf.bash
.fzf.zsh
.hammerspoon/
.lc/
.leetcode/
.lemminx/
.lesshst
.lldb/
.local/
.matplotlib/
.node_repl_history
.npm/
.oh-my-zsh/
.profile
.python_history
.redhat/
.ssh/
.swiftpm/
.tmux.conf
.vim/plugged/*
.viminfo
.vimspector.log
.vscode/
.wget-hsts
.yarnrc
.z-e
.zcompdump
.zcompdump-evan-mac-5.8
.zprofile
.zsh_history
.zsh_sessions/
package-lock.json
.lesshsQ
.vim/session
