.DS_Store
nltk_data
Public
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
.Trash
.boto
.CFUserTextEncoding
.cache
.cargo
.docker/
.fig.dotfiles.bak/
.fzf.bash
.fzf.zsh
.hammerspoon/
.lemminx/
.lesshst
.lldb/
.local/
.matplotlib/
.node_repl_history
.npm/
.oh-my-zsh/
.profile
.python_history
.redhat/
.ssh/
.swiftpm/
.vim/plugged/*
.viminfo
.vimspector.log
.vscode/
.wget-hsts
.yarnrc
.z-e
.zcompdump
.zcompdump-evan-mac-5.8
.zprofile
.zsh_history
.zsh_sessions/
.lesshsQ
.vim/session
.config/coc/*
.config/gcloud/*
.config/raycast/*
.config/iterm2
.config/configstore/update-notifier-nodemon.json
.config/configstore/update-notifier-npm-check-updates.json
.config/github-copilot
.tmux/resurrect
.config/nvim/vimspector/gadgets
Google Drive
.config/configstore/nodemon.json
.tldrc
.config/nvim/plugin/packer_compiled.lua
.degit
.ipython
.config/fish/conf.d
.config/fish/.config.fish.un~
.leetcode/leetcode.toml
.config/gh
.tmux/plugins
.config/glab-cli
.config/configstore
.cspell.json
.config/clash
.cups
.terminfo/61
go/pkg
.config/qBittorrent
.config/thefuck
.config/tmux/plugins
.config/tmux/resurrect
.wakatime*

.config/spotify-player
.m2/repository
.config/nvim/sessions
.config/nvim/lazy-lock.json
.jupyter
.config/fish/private.fish
.config/lazygit/state.yml
.aicommits
